<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>

  window.img = {
    avatar: "<%= image_path('avatar.png') %>"
  }
</script>

<main id="root"><h1>STATIC PAGE</h1></main>
