html, body, header, nav, h1, a,
ul, li, button, i, section, img,
div, form, input, textarea, span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

.authFormDiv{
  background: red;
  width: 31%;
  margin: auto;
  height: 480px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.authFormContainer {
  position: relative;
  top: 60px;
}

.authForm{
  background: white;
  margin: 5px;
  width: 360px;
  margin: auto;
  height: 430px;
  border: 1px solid #d2d2d2;
  display: flex;
  position: relative;
  box-shadow: 10px 3px 33px #a3a2a2;
}

.redirect{
  margin: auto;
  text-align: center;
  width: 360px;
  padding: 20px 0;
  background: white;
  border: 1px solid #d2d2d2;
  border-top: 1px solid #b3b0ad;
  font-size: 14px;
  color: #3D3D66;
  box-shadow: 10px 3px 33px #a3a2a2;
}

.authFormInputs{
  text-align: center;
  background: #fffbfb;
}

.separator-text {
  font-family: serif;
  font-size: 20px;
}

input[type=text], input[type=password]{
  width: 80%;
  padding: 11px 25px;
  background: white;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid #dcd9d9;
  text-align: -webkit-left;
}

input:focus {
  border: 1px solid blue;

}

.formType{
  padding-left: 12px;
  padding-top: 12px;
  font-size: 30px;
  font-weight: 300;
  font-family: sans-serif;
}

.loginDiv{
  text-align: center;
  padding: 10px;
}

.login{
  background: #25CB68;
  display: box;
  width: 80%;
  padding: 9px 34px;
  border-radius: 7px;
  margin-top: 21px;
  margin-bottom: 10px;
}

.demo-login {
  background: #3b5998;
  color: white;
  display: box;
  width: 80%;
  padding: 9px 34px;
  border-radius: 7px;
  margin-top: 21px;
  margin-bottom: 45px;
}

.errors{
  color: red;
  list-style: none;
  font-family: monospace;
  font-size: small;
}

.link-form{
  color: blue;
  font-size: large;
}
