.contribution-index-container{
  border: 1px solid blue;
  margin-top: 84px;
}

.contribution-list-container{
  width: 70%;
  border: 1px solid blue;
  margin: auto;
  padding: 30px;
}

.contribution-list-container{
  width: 650px;
  margin-right: 56px;
}
