.login-signup, .loggedIn-icon {
  display: flex;
}

.login-signup a, .loggedIn-icon a, button {
  display: block;
  padding-left: 26px;
  margin-right: 26px;
}

.header-name{
  display: block;
  background: red;
}

// .login-signup:hover {
//   border-bottom: 3px solid #2BDE73;
//   transition: all 0.15s ease;
// }
