.nav-bar-container{
  display: flex;
  justify-content: space-between;
  background: #fffbfb;
  border: 1px solid #f2f2f2;
  box-shadow: 6px 3px 22px #e4e4e2;
}

.left-nav-bar, .right-nav-bar{
  display: flex;
}

.crank {
  color: #25CB68;
}

.nav-bar-logo {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 900;
}

// .nav-bar-explore{
//   background: lightblue;
//   margin: 4px;
// }
//
// .nav-bar-startProject{
//   background: lightblue;
//   margin: 4px;
// }
//
// .nav-bar-aboutUs {
//   background: lightblue;
//   margin: 4px;
// }
//
// .nav-bar-logo {
//   background: lightblue;
//   margin: 4px;
// }
//
// .nav-bar-search {
//   background: lightblue;
//   margin: 4px;
// }
//
// .nav-bar-greeting {
//   background: lightblue;
//   margin: 4px;
// }

.nav-bar-explore, .nav-bar-startProject, .nav-bar-aboutUs,
 .nav-bar-logo, .nav-bar-search, .nav-bar-greeting {
  // background: lightblue;
  margin: 4px;
  padding: 10px;
  border: black 1px;
  text-align: center;
}
