.nav-bar-container{
  display: flex;
  justify-content: space-between;
  background: #fffbfb;
  border: 1px solid #f2f2f2;
  box-shadow: 10px 3px 33px #a3a2a2;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.site-nav__item {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  display: flex;
  color: #020621;
  text-decoration: none;
  flex-shrink: 0;
  overflow: hidden;
  padding: 20px;
}

.left-nav-bar, .right-nav-bar{
  display: flex;
  padding: 0;
}

.crank {
  color: #25CB68;
}

.nav-bar-logo {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 900;
  font-family: 'Baloo Bhaina', cursive;
}

.nav-icon{
  margin-top: 6px;
  margin-left: 7px;
  margin-right: -1px;
  font-size: 22px;
  color: #25CB68;
}

.nav-bar-explore, .nav-bar-startProject, .nav-bar-aboutUs,
 .nav-bar-logo, .nav-bar-search, .nav-bar-greeting {
  margin: 4px;
  padding: 10px;
  border: black 1px;
  text-align: center;
  margin: auto;
  font-size: 17px;
}

.nav-bar-explore span {
  color: black;
  margin-left: 10px;
}

#logo {
  font-size: 27px;
  border-radius: 61px;
}

.nav-bar-start{
  padding-top: 25px;
}

.green-hover:hover{
  color: #25CB68;
}

.green-hover{
  display: block;
}

.explore{
  padding-top: 22px;
}

.explore span{
  margin-left: 10px;
}

.nav-bar-search:hover{
  color: #737373;
}
