.form-container {
  border: solid;
  padding: 120px;
}
.inner-form-container{
  border: solid;
  border: solid;
  padding: 30px;
  display: flex;
  width: 935px;
  height: 1600px
}

.main-form{
  border: 1px solid blue;
  width: 650px;
  margin-right: 56px;
}

.side-bar{
  border: 1px solid blue;
  width: 250px;
}

.project-img, .start-project-submit, .project-title, .project-description-form {
  display: flex;
  border: 1px solid lightblue;
  margin: 16px;
}

.input-label{
  width: 170px;
  display: flex;
}

.project-title, .project-description-form{
  display: flex;
}
.input-label span {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  font-family: sans-serif;
}

.input-data {
    overflow: hidden;
    position: relative;
}

input[type="file"] {
  border: 3px dotted grey;
  width: 294px;
  height: 15px;
  padding: 62px;
  margin-top: 12px;
  border-radius: 13px;
  cursor: pointer;
}
.img-container{
  width: 120px;
  height: 156px;
  overflow: hidden;
}
.img-container img{
  max-width: 100%;
  max-height: 100%;
}

ul {
list-style-type: none;
}

input[type="text"]{
  width: 390px;
  border-radius: 9px;
}
.rand-txt{
  color: red;

}
.project-title, .project-description-form{
  font-family: sans-serif;
  font-size: 18px;
  margin: 16px;
}

.input-label-title, .input-label-description{
  width: 469px;
}

.input-label-title span, .project-description-form span {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  font-family: sans-serif;
}

li.rand-text {
    font-size: 10px;
    width: 380px;
    margin-left: 38px;
    color: grey;
}

.start-project-submit{
  display: flex;
}

#start-project-submit{
  background: #25CB68;
  padding: 12px;
  width: 260px;
  text-align: center;
  margin-left: 178px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
