.project-item {
  margin: 20px;
  height: 544px;
  width: 355px;
  display: relative;
  box-shadow: 0px 3px 6px #cbc6c6;
  &:hover{
    box-shadow: 2px 4px 9px #cbc6c6;
  }
}

.project-img {
  max-width: 100%;
  height: 210px;
}

.img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  display: block;
  border-bottom: 1px solid #e6e6e6;
}

.project-category {
  font-size: 15px;
  color: #4c4b4b;
  margin-bottom: 19px;
}

.title-block{
  height: 90px;
}

.project-title {
    color: black;
    font-family: sans-serif;
    font-size: 18px;
}

.discriptions{
  padding: 31px;
}

.project-description {
    color: #6b5b5b;
    font-size: 18px;
}

.author{
  color: gray;
  font-size: 16px;
  margin-bottom: 15px;
}

.pledged {
  margin-top: 15px;
  color: #4c4949;
}
.stat-txt {
  color: #908b8b;
}

.author span{
  color: black;
  font-size: 19px;
  font-family: sans-serif;
}

.pledged, .funded, .remaining {
  padding: 3px;
}

.view-proj-button{
  position: absolute;
  margin-top: 356px;
  display: block;
  color: white;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}

.view-proj-button button {
  background: #25CB68;
  color: white;
  padding: 15px;
  border-radius: 7px;
}
