.add-reward-table{
  // border: 1px solid grey;
  width: 420px;
}

.add-reward-table ul:first-child span {
  display: inline-block;
}

.add-reward-table ul span {
  width: 100px;
  padding-bottom: 19px;
  font-family: sans-serif;
  font-size: 14px;
  margin-left: 20px;
}

.add-reward-table ul li {
  display: flex;
  border: 1px solid #ccc9c9;
  background: white;
}

.add-reward-table ul:first-child input, .add-reward-table textarea {
  padding: 0;
  border: 0;
  margin: 0;
  height: inherit;
  border-radius: 0;
  border-left: 1px solid #ccc9c9;
  width: 334px;
  background: white;
}

.addReward-button {
  display: block;
  border: 2px dotted #ccc9c9;
  padding: 22px 259px;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
}

p.reward-title-estimate {
    font-size: 16px;
    margin-bottom: -10px;
    margin-top: 30px;
    color: #80809E;
}

p.reward-title-backers {
    margin-top: 35px;
}

p.reward-title-backers span{
    color: #80809E
}
