.add-reward-table{
  border: 1px solid grey;
  width: 300px;
}

.add-reward-table ul:first-child span {
  display: inline-block;
}

.add-reward-table ul span {
  width: 115px;
}

.add-reward-table ul li {
  display: flex;
  border: 1px solid grey;
  text-align: center;
}

.add-reward-table ul:first-child input, .add-reward-table textarea {
  padding: 0;
  border: 0;
  margin: 0;
  height: inherit;
  border-radius: 0;
  border: 1px solid grey;
  width: 200px;
  background: white;

}
