.reward-item-container{
  display: block;
  border: 1px solid #586BE9;
  background: #f1f3f8;
  width: 305px;
  height: 300px;
  margin: 15px 0;
  &:hover{
    box-shadow: 2px 5px 8px #acdabe;
    border: 1px solid #2841e6;
    background: #81f5b0;
  }
}

.reward-item{
  padding: 20px;
}

.reward-item h3 {
  color: #586BE9;
  font-size: 18px;
  font-weight: 400;
  font-family: sans-serif;
  margin-bottom: 25px;
}

.reward-item p {
  font-size: 14px;
}
