.search-index{
  margin-top: 80px;
}

.search-bar{
  display: flex;
  background: #fffbfb;
  border: 1px solid #f2f2f2;
  box-shadow: 10px 3px 33px #a3a2a2;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.close-search{
  z-index: 1;
}

.search-bar .fa-search{
  padding: 22px;
  font-size: 19px;
  margin-left: 80px;
  color: #4c4b4b
}

.close-search {
  margin-left: 60%;
  padding: 25px;
  font-size: 22px;
  color: #4c4b4b
}

.close-search > .fa-times{
  font-size: 22px;
  color: #4c4b4b;
  padding: 0;
}

.search-bar > input{
  font-size: 26px;
  width: 350px;
  border: none;
  background: #fffbfb;
}
